.container{
    width: 500px;
    margin-top: 30px;
}
.issue-btn{
    display: flex;
    justify-content: center;
}
.container4{
    display: flex;
    justify-content: space-between;
    margin-left: 75px;
    margin-right: 75px;
}
.Num{
    text-align: center;
    margin-top: 20px;
    font-weight: bolder;
    font-size: larger;
}

.error{
    text-align: center;
}
.error-rollno{
    text-align: center;
    color: aqua;

}
.error-bookid{
    color: blue;
}
.searchbox{
    display: flex;
    justify-content: center;
}
.credits{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.cardbox{
    background-color: aqua;
    border: 2px solid black;
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    margin: 5px;
}
.pimg{
    height: 175px;
    width: 200px;
}
.logpage{
    background-color: rgb(193, 196, 196);
    width: 1200px;
    border: solid 2px black;
    border-radius: 15px;
    word-wrap: none;
}
.logb{
    background-color: bisque;
    display: flex;
    justify-content: center;
}
.loghead{
    text-align: center;
}