main{
  display:flex;
  justify-content: space-between;
  max-width: 900px;
  height:auto;
  margin:auto;
  padding: 20px;
  border-radius: 5px;
  background-color: aqua;
  justify-content: space-between;

}